@model IEnumerable<RegistrDisconnection.Models.Dictionaries.DirectionDict>

@{
    ViewData["Title"] = "Index";
}

<h1>Список напрямків</h1>

<p>
    <a asp-action="Create">Добавити новий напрямок відключення</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва напрямку
            </th>
            <th>
                Код ЦОК
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cok.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Додати населений пункт</a>
            </td>
        </tr>
}
    </tbody>
</table>
